/* work sans font styles */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-simple {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


/* shared styles */

.display-flex {
    display: flex;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}
.dark-3 {
    color: #727272;
}
.orange {
    color: #FF900E;
}
.text-regular {
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    line-height: 1.5rem;
}

.bg-secondary {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
}
.bold {
    font-weight: 700;
}



/* navbar styles goes on from here */
.nav-links {
    list-style: none;
    gap: 25px;
    align-items: center;
    padding: 0;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
}

.list-items {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.list-links {
    text-decoration: none;
}

/* nav reponsive styles */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .brand {
        text-align: center;
    }
}

/* banner section styles are here */

.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-image {
    width: 100%;

}

/* main section styles are here */

main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}

/* team part css here */
.teams {
    align-items: center;
}
.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features {
    margin-left: 130px;
    max-width: 530px;
}
.feature-title {
    font-size: 2.8rem;
}
#quick-list {
    font-weight: 500;
}

/* media query for team part */

@media screen and (max-width: 570px) {
    .teams {
        flex-direction: column;
    }
    .team-container {
        grid-template-columns: 1fr;
    }
    .features {
        text-align: center;
        margin: 20px auto;
    }
}










/* fact styles are here */
.fact-title {
    font-size: 2.8rem;
    font-weight: 700;
}
.fact-subtitle {
    max-width: 530px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 17.5rem; */
}

.fact-box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;
} 
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}

/* responsive styles for fact section */

@media screen and (max-width: 576px) {
    .fact-container {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
        width: 100%;
    }
    .fact-title, .fact-subtitle {
        text-align: center;
    }
}


/* sponsor styles are here */
.sponsor-details {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-title {
    font-size: 2.8rem;
    font-weight: 700;
}
.sponsor-subtitle {
    font-size: 1rem;
    font-weight: 400;
}
.sponsor-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}

/* sponsor responsive */

@media screen and (max-width: 570px) {
    .sponsor-icons {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/* footer starts from here */
.footer {
    max-width: 1440px;
    height: 100px;
    margin: 130px auto;
    background-color: #FFF4E7;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    
}
.footer-text {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;

}